

<h1 style=" text-align: center;">Sell Old Stationary</h1>
<section class="list-members" >
    <mat-card class="member">
        
        
        
        <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center strech"  [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
        <mat-card-title style=" text-align: center;">Add Your Product</mat-card-title>
        <mat-form-field appearance="outline">
            <mat-label>
                <mat-icon>chat_bubble_outline</mat-icon> Product Name
            </mat-label>
            <input type="text" matInput placeholder="Product Name" formControlName="poductname"  required/>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>
                <mat-icon>chat_bubble_outline</mat-icon> Enter a Description
            </mat-label>
            <textarea style="height:100px" matInput placeholder="Enter a Description" formControlName="dsc"  required></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>
                <mat-icon>list</mat-icon>Choose Type
            </mat-label>
            <mat-select  matInput  required  formControlName="category">
                <mat-option value="CourseBooks">CourseBook</mat-option>
                <mat-option value="Shivani">Shivani</mat-option>
                <mat-option value="Literatures">Literatures</mat-option>
                
                <mat-option value="OldExamPapers">OldExamPapers</mat-option>
                
                <mat-option value="Tools">Tools</mat-option>
                
                <mat-option value="Notes">Notes</mat-option>
                <mat-option value="Projects">Projects</mat-option>

                <mat-option value="Other">Other</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>
                <mat-icon>chat_bubble_outline</mat-icon> Your Price
            </mat-label>
            <input type="text" matInput placeholder="price" formControlName="price"  required/>
        </mat-form-field>
        <div style="text-align:center">
          <h1>Upload Image</h1>
        <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
            <input hidden="true" type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
            (change)="showPreview($event)"  />

        </div>

        
        <mat-card-title style="text-align:center" >Upload Your Details </mat-card-title>
        <div  fxLayout="column" fxLayoutAlign="space-around strech">

 <mat-form-field appearance="outline">
    
            <mat-label>
                <mat-icon>chat_bubble_outline</mat-icon> Your Name 
            </mat-label>
            <input type="text" matInput placeholder="sellerName" formControlName="sellerName"  required/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>
                <mat-icon>chat_bubble_outline</mat-icon> Contact Number
            </mat-label>
            <input type="text" matInput placeholder="Contact" formControlName="Contact"  required/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>
                <mat-icon>chat_bubble_outline</mat-icon>Email
            </mat-label>
            <input type="text" matInput placeholder="email" formControlName="email"  required/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>
                <mat-icon>chat_bubble_outline</mat-icon> Social Media Id
            </mat-label>
            <input type="text" matInput placeholder="Social Media Id" formControlName="socialMediaUrl"  required/>
        </mat-form-field>
    </div>
        
        <div  fxLayout="row" fxLayoutAlign="space-between strech">

          <button style="width: 200px;" color="warn" mat-raised-button type="button" onclick="resetForm()">Discard</button>
          
          <button style="width: 200px;" color="primary" mat-raised-button type="submit">Post</button>
        </div>
        
     

    </form>
</mat-card>


</section>
<br>