
<!-- tollbar for lg screens         -->

<mat-toolbar class = "toolbar" color="primary">
    <!--add this below ----  fxHide.gt-sm="" -->
    <div class="button"> 
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>widgets</mat-icon>
        </button>
    </div>

    <div  routerLink="" mat-card-avatar class="header-image"></div>
    <div  routerLink="" class="logo">
      Collegites
    </div>
<section fxHide.lt-sm="">

    <button mat-button routerLink="">
        <mat-icon matPrefix>home_outline</mat-icon> Home
    </button>
 
    <button *ngIf="isAuth" mat-button routerLink="learning/subject">
        <mat-icon matPrefix>auto_stories</mat-icon> Subject
    </button>
    <button *ngIf="isAuth" mat-button routerLink="learning/subject/topic">
        <mat-icon matPrefix>menu_book</mat-icon> Toipc
    </button>
    <button mat-button routerLink="about">
        <mat-icon matPrefix>groups</mat-icon> About Us
    </button>
    <button mat-button routerLink="contact">
        <mat-icon matPrefix>contacts</mat-icon> Contact Us
    </button>
    <button mat-button routerLink="chat">
        <mat-icon matPrefix> forum</mat-icon>Chat
    </button>
    <button class="shop" mat-button routerLink="shop">
        <mat-icon matPrefix>local_mall</mat-icon> Shop
    </button>
</section>
  
    
        <section  fxLayoutAlign="flex-end stretch" fxHide.lt-sm="" fxLayoutGap="10px" class=" navigation-items">
          
            
                <button *ngIf="!isAuth" mat-button routerLink="/login"  >
                    <mat-icon matPrefix>person_outline</mat-icon>Login
               </button>

     
                <button *ngIf="!isAuth" mat-button routerLink="/signup">
                    <mat-icon matPrefix>how_to_reg</mat-icon> Signup
               </button>

           
                <button  *ngIf="isAuth" mat-button (click) = "onLogout()">
                    <mat-icon matPrefix  >eject</mat-icon> Logout
               </button>
     
        </section>
   

</mat-toolbar>