<mat-card>
    <mat-card-title>
        Discounted Stationary
    </mat-card-title>
    <div class="banner-1" fxLayout="row" fxLayoutAlign="space-between stretch">
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-title>Pens</mat-card-title>
            <button color="warn" mat-raised-button>Buy Now</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-title>Pens</mat-card-title>
            <button color="warn" mat-raised-button>Buy Now</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-title>Pens</mat-card-title>
            <button color="warn" mat-raised-button>Buy Now</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-title>Pens</mat-card-title>
            <button color="warn" mat-raised-button>Buy Now</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-title>Pens</mat-card-title>
            <button color="warn" mat-raised-button>Buy Now</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-title>Pens</mat-card-title>
            <button color="warn" mat-raised-button>Buy Now</button>
        </mat-card>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-title>Pens</mat-card-title>
            <button color="warn" mat-raised-button>Buy Now</button>
        </mat-card>
    </div>
</mat-card>
<fieldset>
    <legend>
        Subjects
    </legend>
    <mat-card class="sub">
        <mat-grid-list cols="2" rowHeight="2:1">
          
          <mat-grid-tile  class="sub-even">
          <div class="sub-even">

              <h1>OOPM</h1>
          </div>
        
          </mat-grid-tile>
          <mat-grid-tile class="sub-odd">
            <div class="sub-even">
  
                <h1>ppm</h1>
            </div>
          
            </mat-grid-tile>
            
            <mat-grid-tile  class="sub-odd">
                <div class="sub-odd">
      
                    <h1>OOPM</h1>
                </div>
              
                </mat-grid-tile>
                <mat-grid-tile class="sub-even">
                  <div class="sub-even">
        
                      <h1>OOPM</h1>
                  </div>
                
                  </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</fieldset>


<div class="flex-row">
    <div class="temp">
      <span>17 C</span>
      <span>Feels like </span>
      <span>12 C</span>
    </div>
    <div class="temp">
        <span>17 C</span>
        <span>Feels like </span>
        <span>12 C</span>
      </div>
      <div class="temp">
        <span>17 C</span>
        <span>Feels like </span>
        <span>12 C</span>
      </div>
      <div class="temp">
        <span>17 C</span>
        <span>Feels like </span>
        <span>12 C</span>
      </div>
      <div class="temp">
        <span>17 C</span>
        <span>Feels like </span>
        <span>12 C</span>
      </div>
      <div class="temp">
        <span>17 C</span>
        <span>Feels like </span>
        <span>12 C</span>
      </div>
    </div>