<mat-nav-list>
    <a mat-list-item routerLink="/login">
         <mat-icon matPrefix>person_outline</mat-icon><span class="nav-caption">Login</span> 
     </a>
     <a mat-list-item routerLink="/signup">
         <mat-icon matPrefix>how_to_reg</mat-icon> <span class="nav-caption"> Signup</span> 
     </a>
<a mat-list-item routerLink="">
     <mat-icon matPrefix>cottage_outline</mat-icon><span class="nav-caption">Home</span> 
 </a>
 <mat-list-item>
     <button mat-icon-button><mat-icon>eject</mat-icon><span>Logout</span></button>
 </mat-list-item>
</mat-nav-list>