mat-card-title{
  text-align: center;
}
img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  align-self: center;
}
.tab-card {
  margin: 10px;
  background: #dddddd5c;
}
.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
  width: 90%;    
}
button{
    height: 50px;
}

.mat-fab {
  background-size: cover;
  background-repeat: round
}
.mat-fab:hover {
  transform: scale(1.2);
 transition-duration: 1s;
}

.mat-fab img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}
