<section>

    <h1>Anonynus Chat</h1>
    <mat-card>
        <mat-card-header>
            <mat-card-title>New Post</mat-card-title>
        </mat-card-header>

        <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center strech" #cf="ngForm" (ngSubmit)="onSubmit(cf)">
            <mat-form-field appearance="outline">
                <mat-label>
                    <mat-icon>chat_bubble_outline</mat-icon> Enter a Message
                </mat-label>
                <textarea style="height:100px" matInput placeholder="Your Message" ngModel name="message"
                    required></textarea>
            </mat-form-field>

            <div style="text-align:center">
                <input #fileInput hidden="true" type="file" onclick="this.value=null"
                    (change)="fileInputChange($event)" />
                <button matInput mat-flat-button color="primary" (click)="fileInput.click()">
                    <mat-icon>image</mat-icon> Upload Image
                </button>

                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <div><img [src]="url" *ngIf="url"></div>

            </div>

            <mat-form-field appearance="outline">
                <mat-label>
                    <mat-icon>list</mat-icon>Choose topic
                </mat-label>
                <mat-select type="text" matInput ngModel name="topic" required>
                    <mat-option value="Confession">Confession</mat-option>
                    <mat-option value="marketing">Martketing</mat-option>
                    <mat-option value="marketing">Meme</mat-option>
                    <mat-option value="marketing">other</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <mat-card-actions fxLayoutAlign="space-around ">
            <button style="width: 200px;" color="warn" mat-raised-button>Discard</button>
            <button style="width: 200px;" color="primary" mat-raised-button>Post</button>
        </mat-card-actions>
    </mat-card>


    <br>


    <mat-tab-group  mat-stretch-tabs backgroundColor="primary">

            <mat-tab label="All">
                <div fxLayout="row"  fxLayoutAlign="center" class="tab-card" *ngFor="let post of posts">
                    <mat-card class="post-card">
                        <mat-card-title>{{post.title}}</mat-card-title>
                        <mat-card-subtitle>{{post.desc}}</mat-card-subtitle>
                        <img mat-card-image [src]="post.img" alt="">
                        <mat-card-actions fxLayoutAlign="space-around ">
                            <button style="width: 100%;" color="primary" mat-raised-button>SHARE <mat-icon>share</mat-icon></button>
                            <button  color="accent" mat-fab> <mat-icon>favorite</mat-icon></button>
                            <button  color="accent" mat-fab> <mat-icon>thumb_up</mat-icon></button>
                            <button mat-fab><img src="https://img.icons8.com/fluency/48/000000/applause.png"/></button>

                        </mat-card-actions>
                    </mat-card>
                </div>
            <br>
        </mat-tab>
        <mat-tab label="Confession">
            <div fxLayout="row"  fxLayoutAlign="center" class="tab-card" *ngFor="let post of posts">

                <mat-card class="post-card">
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-subtitle>{{post.desc}}</mat-card-subtitle>
                    <img mat-card-image [src]="post.img" alt="">
                    <mat-card-actions fxLayoutAlign="space-around ">
                        <button style="width: 100%;" color="primary" mat-raised-button>SHARE <mat-icon>share</mat-icon></button>
                        <button style="width: 100%;" color="accent" mat-raised-button>LIKE <mat-icon>favorite</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <br>
        </mat-tab>
        <mat-tab label="Marketing">
            <div fxLayout="row"  fxLayoutAlign="center" class="tab-card" *ngFor="let post of posts">

                <mat-card class="post-card">
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-subtitle>{{post.desc}}</mat-card-subtitle>
                    <img mat-card-image [src]="post.img" alt="">
                    <mat-card-actions fxLayoutAlign="space-around ">
                        <button style="width: 100%;" color="primary" mat-raised-button>SHARE <mat-icon>share</mat-icon></button>
                        <button style="width: 100%;" color="accent" mat-raised-button> LIKE <mat-icon>favorite</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <br>
        </mat-tab>
        <mat-tab label="Meme">
            <div fxLayout="row"  fxLayoutAlign="center" class="tab-card" *ngFor="let post of posts">

                <mat-card class="post-card">
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-subtitle>{{post.desc}}</mat-card-subtitle>
                    <img mat-card-image [src]="post.img" alt="">
                    <mat-card-actions fxLayoutAlign="space-around ">
                        <button style="width: 100%;" color="primary" mat-raised-button>SHARE <mat-icon>share</mat-icon></button>
                        <button style="width: 100%;" color="accent" mat-raised-button>LIKE <mat-icon>favorite</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <br>
        </mat-tab>
        <mat-tab label="Other">
            <div fxLayout="row"  fxLayoutAlign="center" class="tab-card" *ngFor="let post of posts">

                <mat-card class="post-card">
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-subtitle>{{post.desc}}</mat-card-subtitle>
                    <img mat-card-image [src]="post.img" alt="">
                    <mat-card-actions fxLayoutAlign="space-around ">
                        <button style="width: 100%;" color="primary" mat-raised-button>SHARE <mat-icon>share</mat-icon></button>
                        <button style="width: 100%;" color="accent" mat-raised-button>LIKE <mat-icon>favorite</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <br>
        </mat-tab>
    </mat-tab-group>
    
</section>