<ul class="list-members">
    <li class="member">
        <div class="member-image">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQHTlHLxVoytZQ/profile-displayphoto-shrink_200_200/0/1598470972039?e=1649894400&v=beta&t=eZAxbEVZfDD1A0KNAB4pWVVVtprUcQtSkeiIvHzHcXo">
        </div>
        <div class="member-info">
            <h3>Rahul Saini</h3>
            <p>Founder & CEO</p>
            <div class="social-link">
                <button mat-fab><img src="https://img.icons8.com/fluency/50/000000/instagram-new.png" /></button>
                <button mat-fab><img src="https://img.icons8.com/fluency/50/000000/linkedin.png"/></button>
                <button mat-fab><img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" /></button>
            </div>
        </div>
    </li>
    <li class="member">
        <div class="member-image">
            <img src="https://fadzrinmadu.github.io/hosted-assets/team-section-design-using-html-and-css/2.png">
        </div>
        <div class="member-info">
            <h3>Lucas Edward</h3>
            <p>Product Manager</p>
            <div class="social-link">
                <button mat-fab><img src="https://img.icons8.com/fluency/50/000000/instagram-new.png" /></button>
                <button mat-fab><img src="https://img.icons8.com/fluency/50/000000/linkedin.png"/></button>
                <button mat-fab><img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" /></button>
            </div>
        </div>
    </li>
    <li class="member">
        <div class="member-image">
            <img src="https://fadzrinmadu.github.io/hosted-assets/team-section-design-using-html-and-css/3.png">
        </div>
        <div class="member-info">
            <h3>Ella Piper</h3>
            <p>Marketing Head</p>
            <div class="social-link">
                <button mat-fab><img src="https://img.icons8.com/fluency/50/000000/instagram-new.png" /></button>
                <button mat-fab><img src="https://img.icons8.com/fluency/50/000000/linkedin.png"/></button>
                <button mat-fab><img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" /></button>
            </div>
        </div>
    </li>
    <li class="member">
        <div class="member-image">
            <img src="https://fadzrinmadu.github.io/hosted-assets/team-section-design-using-html-and-css/4.png">
        </div>
        <div class="member-info">
            <h3>Jaxon Mathew</h3>
            <p>Affiliate Manager</p>
            <div class="social-link">
                <button mat-fab><img src="https://img.icons8.com/fluency/50/000000/instagram-new.png" /></button>
                <button mat-fab><img src="https://img.icons8.com/fluency/50/000000/linkedin.png"/></button>
                <button mat-fab><img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" /></button>
            </div>
        </div>
    </li>
</ul>