<mat-toolbar fxLayoutGap="10px">
    <button mat-raised-button routerLink="/ecommerce-cart">
        shop<mat-icon>shop</mat-icon>
    </button>
    <button mat-raised-button routerLink="/ecommerce-cart">
        Cart<mat-icon>shopping_cart</mat-icon>
    </button>
    <ng-template #anonymousUser>
    
        <button mat-raised-button routerLink="/ecommerce-login">
            login
        </button>
      </ng-template>

    <button *ngIf="appUser; else anonymousUser" mat-raised-button
    [matMenuTriggerFor]="menu">{{appUser.name}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/ecommerce-myorders">My Orders</button>
        <ng-container *ngIf="appUser?.isAdmin">

            <button mat-menu-item routerLink="/admin/orders">Manage Orders</button>
            <button mat-menu-item routerLink="/admin/products">Manage Products</button>
        </ng-container>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>


</mat-toolbar>